@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  height: 100%;
}

body {
  margin: 20px;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

h1 {
  font-family: "Roboto", sans-serif;
}

p {
  color: rgb(247, 249, 249);
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: white;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#info {
  color: rgb(45, 45, 251);
  text-decoration: underline;
  font-size: 1.2rem;
}

textarea {
  background: transparent;
  border: 1px black solid;
  font-family: "Roboto", sans-serif;
}

input {
  background: transparent;
  border: 1px black solid;
  font-family: "Roboto", sans-serif;
}

label {
  font-family: "Roboto", sans-serif;
}
.menu {
  border: 5px whitesmoke solid;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  padding: 1rem;
  color: white;
}
.menu_li {
  font-size: 2rem;
}
.menu_li:hover {
  font-size: 2.3rem;
  color: rgb(200, 200, 200);
}
#title {
  margin-top: 0;
  font-size: 4rem;
  text-align: center;
  border: 5px whitesmoke solid;
  padding: 1rem;
  margin-bottom: 0;
  color: white;
}
